<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>

        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Bootstrap -->
        <link href="{{ asset('css/bootstrap.css') }}" rel="stylesheet" media="screen">

        <!-- HTML5 Shim and Respond.js add IE8 support of HTML5 elements and media queries -->
        {% include 'BraincraftedBootstrapBundle::ie8-support.html.twig' %}

    </head>
    <body>
        <li>
            <a href="{{ path('Ford_Mustang') }}">Ford_Mustang</a>
        </li>
        <li>
            <a href="{{ path('Shelby_GT500') }}">Shelby_GT500</a>
        </li>
        <li>
            <a href="{{ path('Polonez') }}">Polonez</a>
        </li>
        <li>
            <a href="{{ path('Hyundai') }}">Hyundai</a>
        </li>
        
        <!-- A -->
        <li>
            <a href="{{ path('Mazda') }}">Mazda</a>
        </li>

    <!-- B -->
    <li>
            <a href="{{ path('Ferrari') }}">Ferrari</a>
        </li>

    <!-- C -->
    <li>

            <a href="{{ path('GolfIII') }}">GolfIII</a>
    </li>

    <!-- D -->
    <li>
        <a href="{{ path('Wolga') }}">GAZ Wołga</a>
    </li>
    <!-- E -->

</li>


        <a href="{{ path('Fiat') }}">Fiat</a>
    </li>
    <!-- F -->

    <!-- G -->

    <!-- H -->

    <!-- I -->

    {% block body %}{% endblock %}

    <footer>Version: 0.1.2</footer>

        <!-- jQuery (necessary for Bootstraps JavaScript plugins) -->
        <script src="{{ asset('js/jquery.js') }}"></script>
        <!-- Include all JavaScripts, compiled by Assetic -->
        <script src="{{ asset('js/bootstrap.js') }}"></script>
    </body>
</html>
